# Linear Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [9]:
df_train = pd.read_csv('D:/Documents/cours/INSA/5A/Projet_Intégrateur/data/201909-citibike-tripdata.csv/201909-citibike-tripdata.csv')
df_tEST = pd.read_csv('D:/Documents/cours/INSA/5A/Projet_Intégrateur/data/201909-citibike-tripdata.csv/201909-citibike-tripdata.csv')

In [10]:
print(df_train)

         tripduration                 starttime                  stoptime  \
0                 327  2019-09-01 00:00:01.9580  2019-09-01 00:05:29.3410
1                1145  2019-09-01 00:00:04.1430  2019-09-01 00:19:09.8360
2                1293  2019-09-01 00:00:07.3090  2019-09-01 00:21:40.7580
3                1753  2019-09-01 00:00:08.0640  2019-09-01 00:29:21.5040
4                 613  2019-09-01 00:00:12.8510  2019-09-01 00:10:26.1850
...               ...                       ...                       ...
2444895          1764  2019-09-30 23:59:22.7670  2019-10-01 00:28:47.3180
2444896           378  2019-09-30 23:59:27.9270  2019-10-01 00:05:46.5700
2444897           561  2019-09-30 23:59:29.1450  2019-10-01 00:08:50.8070
2444898           311  2019-09-30 23:59:42.2520  2019-10-01 00:04:54.2320
2444899          1500  2019-09-30 23:59:55.3740  2019-10-01 00:24:55.8400

         start station id           start station name  \
0                    3733           Avenue C & E 18 St
1                    3329         Degraw St & Smith St
2                    3168  Central Park West & W 85 St
3                    3299           E 98 St & Park Ave
4                     486           Broadway & W 29 St
...                   ...                          ...
2444895              3314           W 95 St & Broadway
2444896               316       Fulton St & William St
2444897              3260      Mercer St & Bleecker St
2444898              3746            6 Ave & Broome St
2444899               331          Pike St & Monroe St

         start station latitude  start station longitude  end station id  \
0                     40.730563               -73.973984             504
1                     40.682915               -73.993182             270
2                     40.784727               -73.969617             423
3                     40.788130               -73.952060            3160
4                     40.746201               -73.988557             478
...                         ...                      ...             ...
2444895               40.793770               -73.971888            3161
2444896               40.709560               -74.006536             327
2444897               40.727064               -73.996621             393
2444898               40.724308               -74.004730            3435
2444899               40.711731               -73.991930            2012

                    end station name  end station latitude  \
0                    1 Ave & E 16 St             40.732219
1            Adelphi St & Myrtle Ave             40.693083
2                    W 54 St & 9 Ave             40.765849
3        Central Park West & W 76 St             40.778968
4                   11 Ave & W 41 St             40.760301
...                              ...                   ...
2444895       W 76 St & Columbus Ave             40.780184
2444896     Vesey Pl & River Terrace             40.715338
2444897            E 5 St & Avenue C             40.722992
2444898      Grand St & Elizabeth St             40.718822
2444899              E 27 St & 1 Ave             40.739445

         end station longitude  bikeid    usertype  birth year  gender
0                   -73.981656   39213  Subscriber        1968       1
1                   -73.971789   21257    Customer        1969       0
2                   -73.986905   15242    Customer        1969       0
3                   -73.973747   38760  Subscriber        1990       1
4                   -73.998842   32094  Subscriber        1992       1
...                        ...     ...         ...         ...     ...
2444895             -73.977285   41516    Customer        1995       1
2444896             -74.016584   31124  Subscriber        1959       2
2444897             -73.979955   30285    Customer        1998       1
2444898             -73.995960   38290  Subscriber        1989       1
2444899             -73.976806   34013    Customer        1969       0

[2444900 rows x 15 columns]

In [22]:
trainingset={
    'start station id':df_train['start station id'],
    'start station name':df_train['start station name'],
    'start station latitude':df_train['start station latitude'],
    'start station longitude':df_train['start station longitude']}

trainingset=pd.DataFrame(trainingset, columns=['start station id','start station name','start station latitude','start station longitude'])

In [23]:
print(trainingset)

         start station id           start station name  \
0                    3733           Avenue C & E 18 St
1                    3329         Degraw St & Smith St
2                    3168  Central Park West & W 85 St
3                    3299           E 98 St & Park Ave
4                     486           Broadway & W 29 St
...                   ...                          ...
2444895              3314           W 95 St & Broadway
2444896               316       Fulton St & William St
2444897              3260      Mercer St & Bleecker St
2444898              3746            6 Ave & Broome St
2444899               331          Pike St & Monroe St

         start station latitude  start station longitude
0                     40.730563               -73.973984
1                     40.682915               -73.993182
2                     40.784727               -73.969617
3                     40.788130               -73.952060
4                     40.746201               -73.988557
...                         ...                      ...
2444895               40.793770               -73.971888
2444896               40.709560               -74.006536
2444897               40.727064               -73.996621
2444898               40.724308               -74.004730
2444899               40.711731               -73.991930

[2444900 rows x 4 columns]